#about{
    .heading{
        background-image: url('../../static/assets/images/mandoChalk.jpg');
        // height: 305px;
    }

    .about-text{
        text-align: center;
        grid-row: 2;
        width: 100vw;
        height: 100vh;
        
        h1{
            text-align: center;
            font-family: $title;
            font-size: 3rem;
            color: $purple;
            letter-spacing: 3px;
            padding: 50px;
            padding-top: 100px;
        }

        p{
            display: grid;
            // grid-template-areas: ".  p  .";
            // grid-template-columns: 1fr 1fr 1fr;
            // grid-column: 2 / 4;
            margin-right: 0;
            font-family: $text;
            color: $purple;
            padding: 0px 200px 10px 200px;
        }
    }
}
