.heading{
    background-image: url('../../static/assets/images/smallFlowers.jpg');
    background-repeat: no-repeat;
    // background-size: 100%;
    background-position: center;
    width: 100vw;
    height: 355px;
    padding-top: 50px;
}