.heading{
    background-image: url('../../static/assets/images/shortFlowers.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 355px;
    padding-top: 50px;
}