#home{
    // background-image: linear-gradient( rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90) ), url("https://images.unsplash.com/photo-1484788984921-03950022c9ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=804&q=80");
    // background-image: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80) ), url("https://images.unsplash.com/photo-1466121239823-b0bdb9e64631?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

    // background-image: url('../../static/assets/images/shorter-blackboard.jpg');
    background-image: url('../../static/assets/images/more-purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    

    .titles{
        color: $white;
        position: absolute;
        display: flex;
        flex-direction: column;
        // text-align: center;
        justify-content: space-around;
        width: 100vw;
        padding-top: 200px;
        padding-left: 150px;
        
        
        h1{
            font-size: 7em;
            letter-spacing: 8px;
            margin-bottom: 0;
            // font-family: $title;
            font-family: $title;
            color: $white;
        }

        h2{
            font-size: 3em;
            margin: 0;
            // font-family: $title;
            font-family: $text;
            color: $purple;
        }
    }

}