#home{
    background-image: url('../../static/assets/images/more-purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    

    .titles{
        color: $white;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-shadow: 1px 7px 3px $darkSlateGray;
        width: auto;
        padding-top: 200px;
        padding-left: 100px;
        
        
        h1{
            font-size: 7em;
            letter-spacing: 8px;
            margin-bottom: 0;
            font-family: $title;
            color: $white;
        }

        h2{
            font-size: 3em;
            margin: 0;
            font-family: $text;
            color: $purple;
        }
    }

}