@media screen and (max-width: 1000px){
    .nav-wrapper{
        display: block;

        .nav-btn{
            display: block;
            padding-top: 30px;
            padding-left: 80px;
            float: left;

            label{
                cursor: pointer;
                color: $purple;
                
                &:hover{
                    text-decoration: underline $white;
                    color: $white;
                    transition: 0.5s;
                    }

                span{
                    display: block;
                    width: 25px;
                    height: 10px;
                    border-top: 2px solid;
                }
            }    

            
        }

        #toggle{
            display: none;
    
            
            
            
            &:checked{
                
                &+.nav-right{
                    display: flex;
                    flex-direction: column;

                    
                }
                
            }
        }

        .nav-right{
            display: none;
            background: rgba(2, 2, 2, 0.8);
            width: 100vw;
        }
    }

    #home{
        background-attachment: scroll;
        background-position: center;
        width: 100vw;

        .titles{
            padding-left: 50px;

            h1{
                font-size: 5em;
            }
        }
    }
    
    #projects{
        a{
            grid-template-columns: 1fr; 
        }
    }
    
    #about{
       background-position: center;
       background-size: cover;
    
       .about-text{
    
            p{
                padding: 40px;
            }
       }
    }
    
    #contact{
        background-attachment: scroll;
        .contact-form{
    
            form{
    
                .form-elements{
        
                    label{
                        text-align: center;
                        font-size: 1.5rem;
                        color: $darkSlateGray;
                        font-family: $text;
                        font-weight: 900;
                    }
        
                    input, textarea{
                        &::placeholder{
                            color: transparent;
                        }
                    }
        
                }
            }
    
            .links{
                a{
                    color: $white;
                    text-shadow: 4px 4px $darkSlateGray;
                }
            }
        }
    }
    
}

@media screen and (max-width: 650px){
    #home{
        .titles{
            h1{
                font-size: 3.5em;
            }

            h2{
                font-size: 1.5em;
            }
        }
    }

    #about{
        .about-text{
            .photo{
                img{
                    width: 250px;
                }
            }
        }
    }

    #experience{
        .bottega{
            img{
                width: 200px;
            }
        }
    }

}